<div class="page-header">
	<h1>About us</h1>
</div>

<p class="lead">We are working on our One Month Rails Pinteresting app</p>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src= <%= image_tag "NBTB logo full colour.jpg", :alt=>"Logo is missing"%>
      <div class="caption">
        <h3>Marisha Pink</h3>
        <p>I am Pinky</p>
        <p><a href="#" class="btn btn-primary" role="button">Bio</a> <a href="#" class="btn btn-default" role="button">Contact</a></p>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src= <%= image_tag "NBTB logo greyscale.png", :alt=>"Logo is missing"%>
      <div class="caption">
        <h3>Delton Pink</h3>
        <p>And this is the brain</p>
        <p><a href="#" class="btn btn-primary" role="button">Bio</a> <a href="#" class="btn btn-default" role="button">Contact</a></p>
      </div>
    </div>
  </div>